#introduction1{
    margin: 5vh 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}


.dropdown-menu{
    min-width: 20px;
}
.dropdown-item{
    width:100px;
}

h1{
    margin-bottom: 5vh;
}

.image{
    margin-top: 5vh;
    margin-bottom: 5vh;

    height: 250px;
    width: 250px;
    object-fit:cover;
    border-radius: 50%;
    border: 2px solid silver;

}

.jumbotron{
    margin: 0 auto;
    width: 60%;
    min-width: 300px;
    margin-bottom: 50px;

    background-color: #d8e9f0;
}

.card-group{
    margin: 0 10% 0 10%;
}

.card-img-top{
    height:10rem;
    object-fit: cover;
}

.card-deck{
    margin: 0 5% 0 5%;
}

.blog-btns{
    width: min-content;
    margin: auto;
}

.buttons{
    border-radius: 20px;
}

.buttons:hover{
    background-color: #f33535;
}

.m-1{
    border-radius: 50%;
}

.spacing{
    text-align: center;
    margin-top: 20vh;
}